<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">rentgui</h3>
</div>


<div class="row">
    <nav ng-hide="errorNotFound">

        <ul class="pager">
            <li>
                <input type="text" ng-model="city" placeholder="City"
                   class="input-large" ng-change="setCurrentPage(currentPage)">
            </li>
             <li>
                <input type="text" ng-model="maxPrice" placeholder="maxPrice"
                   class="input-large" ng-change="setCurrentPage(currentPage)">
            </li>
            <li>
                <input type="text" ng-model="minPrice" placeholder="minPrice"
                   class="input-large" ng-change="setCurrentPage(currentPage)">
            </li>
            <li ng-class="posts._links.previous == null ? 'disabled' : ''">
                <a ng-show="currentPage > 1" ng-click="setCurrentPage(currentPage - 1)">Newer</a>
                <span ng-show="currentPage === 1">Newer</span>
            </li>
            <li ng-class="posts._links.next == null ? 'disabled' : ''">
                <a ng-show="currentPage < pages" ng-click="setCurrentPage(currentPage + 1)">Older</a>
                <span ng-show="currentPage === pages">Older</span>
            </li>
            <li class="lead" style="margin-left: 20px">page {{currentPage}}/{{pages}}</li>
        </ul>
    </nav>

</div>
  <div ui-grid="gridOptions" class="myGrid"></div>


<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
