Scrapy==0.24.5
Twisted==15.0.0
cffi==0.9.1
cryptography==0.7.2
cssselect==0.9.1
lxml==3.4.2
pushbullet.py==0.8.1
pyOpenSSL==0.14
pymongo==2.8
queuelib==1.2.2
requests==2.5.3
scrapy-mongodb==0.8.1
service-identity==14.0.0
w3lib==1.11.0
websocket-client==0.25.0

